    @if(showContainer()){
<div class="loading-container">

    @if(isLoading()){
    <div class="bg-white p-4 rounded-lg">
        Estamos generando tu factura, por favor espera un momento...
        <div class="loading loading-dots loading-lg"></div>
    </div>
    }
    @else if(finished()) {
    <div class="bg-white p-4 rounded-lg">
        <app-logo class="mb-4" width="150"></app-logo>
        <h1 class="text-2xl font-bold mb-2">Factura Generada con éxito</h1>
        <p class="text-gray-600 mb-6">Crea tus facturas de manera rápida y sencilla.</p>
        <button class="btn btn-primary m-5" type="button" (click)="close()">Cerrar</button>
    </div>


    }

    

</div>    
}
